*{
    margin: 0;
    padding: 0;
}
/* --------fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');
</style>
 /* common style  */
 body{
    font-family: 'Poppins', sans-serif;
  
 }
 /* header section */
 header{
    width: 100%;
    background-color: #2D25A0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 43px;
    font-family: 'Poppins', sans-serif;
   
}

.full-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 49px;
    margin-bottom: 114px;
}
.top-banner{
    width: 50%;
    margin-left: 156px;
}
.top-text{
    width: 485px;
    margin-right: 102px;
    margin-bottom: 27px;
}
  
.top-text h1{
    font-size: 64px;
    color: #ffffff;
}
.banner-image img{
    width: 556px;
}
.button{
    display: flex;
    justify-content: center;
    width: 168px;
    padding: 10px 24px;
    background-color: #E02C6D;
    margin-top: 0;
}
.main-button{
    font-size: 16px;
  
    color: #ffffff;
    background-color: #E02C6D;
    border-radius: 10px;
   
}
.button .button-arrow {
    color: #ffffff;
    font-size: 24px;
    margin-left: 8px;
}
/* ---------------
card layers
---------------- */
.cards{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color:  #FFFFFF;
    padding: 20px 210px 0px 180px;
}
.card{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.card--image{
    width: 300px;
    height: 256px;
    display: block;
    position: static;
    padding: 15px 15px;
    padding-left: 15px;
}
.card--content{
    padding: 16px 15px 33px 15px;
}
.card--content h1{
    font-weight: 700;
    line-height: 40px;
    font-size: 28px;
    color:  #18191F;
    font-family: 'Poppins', sans-serif;
}
.card--content p{
    width: 300px;
    top: 32.47%;
    line-height: 26px;
    bottom: 0%;
    font-size: 16px;
    color: #6C6C6C;
    margin: 10px 0px;
    font-family: 'Poppins', sans-serif;
}
/*-------- mobile devices start------- */
/* @media only screen and (max-width:688px){
    .cards{
        background-color:white;
        grid-template-columns: repeat(1,  1fr);
        justify-content: center;
    }
    .card{
        flex-direction:column;
    }
}
/* mobile devices end */

/* for tablet  */ */


 /* video section starts */
 .video{
     height: 100vh;
 }
 .video-background{
     position: absolute;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1;
 }
 @media (min-aspect-ratio:16/9)
 {
     .video-background{
         width: 100%;
         height: auto;
     }
 }
 @media (max-aspect-ratio:16/9)
 {
     .video-background{
         width:auto;
         height:;
     }
 }
 .video-button{
     position: relative;
     text-align: center;
     font-family: monospace;
     color:darkviolet;
     top: 150px;
 }
 .video-button h1{
     font-size: 80px;
     font-weight: 200;
     letter-spacing: 5px;
     margin-bottom: 140px;
 }
 .click-buttton{
     font-size:30px;
     color:rgb(21, 72, 8)139, 46);
     margin:5px;
     padding: 7px 12px;
     text-decoration: none;
     border: 2px solid  rgb(6, 63, 6);
     border-radius: 25px;
     background-color: darkcyan;
}
 /* video section end  */
 /* form */
 .form{
     padding-left: 10%;
     margin-top: 5%;
     margin-bottom: 15%;
     font-size: 30px;
 }
 .form h2{
     color: darkblue;
 }
 .form a{
     text-decoration: none;
     font-size:30px;
     color:rgb(21, 72, 8)139, 46);
     margin:5px;
     padding: 7px 12px;
     text-decoration: none;
     border: 2px solid  rgb(6, 63, 6);
     border-radius: 25px;
     background-color: darkcyan;
 }

/* ----------------------
footer styles start
-------------------------- */
footer{
    margin-top: 158px;
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 800px;
}
.footer-content{
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 1050px;
    display: flex;
    padding-bottom: 63px;
}
.footer-top img{
    width: 483.87px;
}
.socials {
    margin: 20px 0px;
    
}
.fab{
    font-size: 30px;
    color: #969BAB;
    
}
.footer-bottom p{
    font-size: 25px;
    font-family:'Poppins', sans-serif;
}
.socials .fab{
    padding-right: 14px;
}
/* mobile devices responsive */
@media only screen and (max-width:688px) {
    .footer-content .img{
        background-color: white;
        /* grid-template-columns: repeat(1,1fr); */
        /* justify-content: center; */
        flex-direction: column;
        width: 10px;
        padding: 5px;
    }
    .footer-top img{
        width:300px;
        justify-content: center;
    }
}
/* ------------footer style end -----------------------*/
